#
# NOTE! Please use 'git ls-files -i --exclude-standard -c'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.a
*.diff
*.elf
*.ELF
*.erl
*.exe
*.irx

asm/*
obj/*

githash.h
!iop/__precompiled/*
iop/vmc_fs.irx
iso/
*.iso
*.zip
